body,
html {
    height: 100vh;
    width: 100%;
}

.mainContainer {
    width: 80%;
}

.text-lightBlack {
    color: rgb(67, 67, 67);
}

.splash-heading {
    font-size: 3.95em;
    line-height: 0.98em;
    color: rgb(67, 67, 67);
}

.splash-heading-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgb(159, 228, 159), rgb(0, 205, 205));
    left: 0;
    top: 0;
    z-index: -1;
    transform: scale(1.02) skew(-10deg, 0deg);
    opacity: 0.8;
    padding: 1rem 0.5rem;
}

.splash-link {
    color: rgb(63, 168, 105);
    font-weight: bold;
}

.operations-content {
    width: 75%;
    background-color: white;
}

.operations-buttons {
    width: 60%;
    top: -1.25rem;
}

.operationsBtn {
    transition: all ease-in-out 0.1s;
}

.toggledBtn {
    transform: translateY(-8px);
}

.operations-icon-bg {
    width: 100%;
    height: 100%;
    background-color: orange;
    top: 0;
    left: 0;
    z-index: -1;
}

.testimonials-slider {
    width: 65%;
}

.arrowContainer {
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    z-index: 2;
}

.testimonials-quote {
    font-size: 15rem;
    top: -25%;
    color: green;
}

.testimonials-content {
    min-width: 100%;
    transition: all ease-in-out 0.75s;
}

.testimonial-photo {
    width: 12%;
    border-radius: 50%;
}

h6 {
    font-size: 1.15rem;
}

.joinPage {
    background-color: #37383d;
}

.contact-links {
    color: white;
    text-decoration: none;
}

.footer-copyright {
    color: rgb(149, 146, 146);
}

.move-left {
    transform: translateX(-100%);
}

.move-lefter {
    transform: translateX(-200%);
}
